<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Flat offers web scraper - result</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
    <div class="container">

        <div class="float-left">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" th:text="#{home.start}">Start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/options}" th:text="#{home.choose}">Wybierz opcje</a>
                </li>
            </ul>
        </div>
        <div class="float-right">
            <ul class="navbar-nav">
                <li class="nav-item">
					<span th:if="__${#locale}__=='en'">
						<a th:href="@{/?lang=pl}" class="nav-link">pl</a>
					</span>
                    <span th:if="__${#locale}__=='pl'">
						<a th:href="@{/?lang=en}" class="nav-link">eng</a>
					</span>
                </li>
            </ul>
        </div>

    </div>
</nav>


<div class="container pt-3">
    <h1 th:text="#{error.title}" class="display-4">Error page</h1>

    <div>
        <p class="lead" th:text="#{error.description}">Description of error.</p>
        <p class="lead" th:text="#{error.description2}">Description of error2.</p>
    </div>

    <div class="pt-3 text-center">
        <a th:href="@{/}" class="btn btn-secondary" th:text="#{home.start}">Start</a>
    </div>

    <footer class="footer pt-3">
        <hr>

        <p class="font-weight-lighter">&copy; Magdalena Tyrakowska 2020</p>
    </footer>

</div>

</body>

</html>